---
import PageLayout from "@/layouts/Base.astro";
import { getAllPosts, getUniqueTagsWithCount } from "@/utils";

const allPosts = await getAllPosts();
const allTags = getUniqueTagsWithCount(allPosts);

const meta = {
	description: "A list of all the topics I've written about in my posts",
	title: "All Tags",
};
---

<PageLayout meta={meta}>
	<h1 class='title mb-6'>Tags</h1>
	<div class='flex flex-wrap gap-2'>
		{
			allTags.map(([tag, val]) => (
				<div class='flex'>
					<a
						class='inline-block flex items-center justify-center rounded-lg bg-accent p-1 px-2 uppercase text-bgColor hover:saturate-200'
						data-astro-prefetch
						href={`/tags/${tag}/`}
						title={`View posts with the tag: ${tag}`}>
						<span class=''>{tag}</span>&nbsp;
						<span class='flex items-center rounded-lg bg-white/50 px-2'>{val}</span>
					</a>
				</div>
			))
		}
	</div>
</PageLayout>
